.profile-info{
    display: flex;
    justify-content: center;
}
.profile-posts{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.profile-img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: blue;
}