.modal{
    background: white;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    border-radius: 12px;
}
.modal-icon{
    width: 16px;
    height: 16px;
}
.modal-top{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    border-bottom:  1px solid #DBDBDB;
}
.modal-top p{
    font-size: 13px;
}
.modal-main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal-between{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.modal-addfile{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-caption-step{
    display: flex;
}

.modal-img{
    height: 400px;
    width: 400px;
    border-right: 1px solid #DBDBDB;
}
.modal-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-caption{
    padding: 10px;
    width: 30%;
}

.modal-textarea{
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    resize: none;
}

.modal-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-left img{
    width: auto;
    height: 80vh;
    object-fit: cover;
}

.modal-right{
    height: 80vh;
    width: 400px;
    border-left: 1px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-profile-img{
    margin-right: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: blue;
}