.text-medium{
    font-size: 16px;
}
.text{
    font-size: 14px;
}
.text-small{
    font-size: 12px;
}

.text-none{
    text-decoration: none;
    color: black;
}

.text-grey{
    color: rgb(141, 141, 141);
}

.text-red{
    color: rgb(255, 0, 0);
}